@model IEnumerable<FSpacer.Models.SpacerCard>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalGearCaseDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalCarrierDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bearing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalMDGear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalGearCaseDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalCarrierBearingDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GearMount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalMDGear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DriveNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OperatorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Backlash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalSetting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutputSetting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HelicalGearNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HelicalPinionNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalSpacerLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalSpacerLength)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalGearCaseDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalCarrierDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bearing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalMDGear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerticalGearCaseDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerticalCarrierBearingDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearMount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMDGear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Backlash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalSetting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutputSetting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelicalGearNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelicalPinionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalSpacerLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerticalSpacerLength)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
